/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* TAG */


/* CLASSI */

/* ID */
#logo-header{
    width: 100px;
}

#image-bg{
    background-image: url(../img/jumbo.png);
    background-size: 100%;
    background-repeat: none;
}
