/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* TAG */


/* CLASSI */

.img-bg-main{
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-repeat: none;
    background-position: center;
}

.btn-round{
    border-radius: 50px;
}

.btn-primary{
    background-color: rgb(136, 136, 246);
    color: white;
}

.list-header{
   list-style: none;
   font-size: small;
   color: white;
}

.img-bg-ad{
    background-image: url(../img/stars.svg);
    background-size:contain;
    background-repeat: none;
    background-position: center;

}
/* ID */
#logo-header{
    width: 100px;
}

