/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* TAG */


/* CLASSI */

.img-bg-main{
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-repeat: none;
    background-position: center;
}

.btn-round{
    border-radius: 50px;
}


/* ID */
#logo-header{
    width: 100px;
}

